@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&family=Public+Sans@500;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #101010;
  font-size: 16px;
  font-family: "Arial", sans-serif;
  word-break: break-word;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

body {
  background: #ede8e6;
}

.text_hidden {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

#header {
  padding: 0 10%;
}

.header_wrap {
  width: 100%;
  height: 152px;
  padding-bottom: 30px;
  border-bottom: 1px solid #1d1d1d;
  display: flex;
}
.header_wrap .logo {
  padding-top: 33px;
}
.header_wrap .logo a {
  font: bold 26px/1 "arial";
  letter-spacing: 1px;
}
.header_wrap nav {
  flex: 1;
}
.header_wrap .gnb {
  padding-top: 33px;
  margin-left: 70px;
  display: inline-flex;
  flex-wrap: wrap;
}
.header_wrap .gnb li {
  flex: 1 1 40%;
  gap: 90px;
  padding-bottom: 15px;
}
.header_wrap .gnb li a {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}
.header_wrap .nav-side {
  position: relative;
  display: flex;
  gap: 56px;
  padding: 33px 0 0 64px;
}
.header_wrap .nav-side::before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 1px;
  height: calc(100% + 30px);
  background: #1d1d1d;
  content: "";
}
.header_wrap .nav-side .nav_btn__pop:nth-of-type(2) {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
}

.footer {
  margin-top: 182px;
  padding: 0 10%;
}
.footer .inner {
  padding: 70px 76px;
  display: flex;
  justify-content: space-between;
  gap: 76px;
}
.footer * {
  color: #3d3c3c;
}

.footer_title {
  flex: 1 1 335px;
}
.footer_title .logo a {
  font: bold 26px/1 "arial";
  color: #1d1d1d;
  letter-spacing: 1px;
}
.footer_title .copyright {
  margin-top: 113px;
}

.footer_info {
  flex: 1 1 335px;
}
.footer_info .gnb {
  display: inline-flex;
  flex-wrap: wrap;
}
.footer_info .gnb li {
  flex: 1 1 40%;
  gap: 90px;
  padding-bottom: 15px;
}
.footer_info .gnb li a {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #1d1d1d;
}
.footer_info address {
  margin-top: 24px;
}
.footer_info address a {
  display: inline-block;
  width: 100%;
  padding-bottom: 15px;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  text-decoration: underline;
}

.footer_newsletter {
  flex: 1 1 335px;
}
.footer_newsletter__head {
  font: bold 22px/1.2 "Public Sans";
  letter-spacing: 0.5px;
}
.footer_newsletter input {
  margin-top: 35px;
  width: 100%;
  height: 44px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #c6c3c0;
}
.footer_newsletter .sns_list {
  margin-top: 35px;
}
.footer_newsletter .sns_list:after {
  display: block;
  clear: both;
  content: "";
}
.footer_newsletter .sns_list li {
  float: left;
  width: 40px;
  height: 40px;
  border: 1px solid #c6c3c0;
  background: transparent;
  margin-right: 16px;
  text-align: center;
}
.footer_newsletter .sns_list li i {
  font-size: 20px;
  line-height: 38px;
}

.intro_visual_zone {
  padding: 0 10%;
}
.intro_visual_zone .intro_visual_wrap {
  position: relative;
  padding: 60px 76px;
}
.intro_visual_zone .intro_visual_wrap .intro_visual__title {
  position: relative;
  padding-top: 60px;
  z-index: 1;
}
.intro_visual_zone .intro_visual_wrap .intro_visual__title span {
  display: block;
  font: 80px/1.1 "Public Sans";
}
.intro_visual_zone .intro_visual_wrap .intro_visual__title span:nth-of-type(2) {
  padding-left: 134px;
}
.intro_visual_zone .intro_visual_wrap .intro_visual__title span:nth-of-type(4) {
  padding-left: 298px;
}
.intro_visual_zone .intro_visual_wrap .intro_visual__title span.thick {
  font-weight: 900;
}
.intro_visual_zone .intro_visual_wrap .img1 {
  position: absolute;
  top: 116px;
  right: 450px;
  width: 112px;
  height: 520px;
  background: url(../img/pic1.jpg) no-repeat left top;
  background-size: cover;
  overflow: hidden;
}
.intro_visual_zone .intro_visual_wrap .img1::before {
  position: absolute;
  top: -100%;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  background: rgba(44, 115, 101, 0.7);
  content: "";
  transition: 0.3s;
}
.intro_visual_zone .intro_visual_wrap .img1:hover::before {
  top: 0;
}
.intro_visual_zone .intro_visual_wrap .img2 {
  position: absolute;
  top: 56px;
  right: 76px;
  width: 335px;
  height: 632px;
  background: url(../img/pic1.jpg) no-repeat center top;
  background-size: cover;
  overflow: hidden;
}
.intro_visual_zone .intro_visual_wrap .img2::before {
  position: absolute;
  top: -100%;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  background: rgba(44, 115, 101, 0.7);
  content: "";
  transition: 0.3s;
}
.intro_visual_zone .intro_visual_wrap .img2:hover::before {
  top: 0;
}
.intro_visual_zone .intro_data_wrap {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 0 76px 120px;
}
.intro_visual_zone .intro_data_wrap .intro_date {
  position: relative;
  width: 96px;
  height: 104px;
  background: #1d1d1d;
}
.intro_visual_zone .intro_data_wrap .intro_date::before {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #ede8e6;
  content: "";
}
.intro_visual_zone .intro_data_wrap .intro_date p {
  position: relative;
  width: 100%;
  padding-left: 14px;
  font-size: 25px;
  font-weight: bold;
  font-family: "Pt Mono";
  line-height: 52px;
  color: #ede8e6;
  z-index: 1;
}
.intro_visual_zone .intro_data_wrap .intro_date p::before {
  position: absolute;
  width: 0;
  height: 0;
  z-index: -1;
  opacity: 0.5;
  content: "";
}
.intro_visual_zone .intro_data_wrap .intro_date p:first-of-type::before {
  top: 0;
  left: 0;
  border-top: 52px solid #2c7365;
  border-left: 48px solid #2c7365;
  border-bottom: 52px solid transparent;
  border-right: 48px solid transparent;
}
.intro_visual_zone .intro_data_wrap .intro_date p:last-of-type {
  padding-left: 48px;
}
.intro_visual_zone .intro_data_wrap .intro_date p:last-of-type::before {
  display: none;
  bottom: 0;
  right: 0;
  border-top: 52px solid transparent;
  border-left: 48px solid transparent;
  border-bottom: 52px solid #2c7365;
  border-right: 48px solid #2c7365;
}
.intro_visual_zone .intro_data_wrap .intro_date__info {
  flex: 1;
}
.intro_visual_zone .intro_data_wrap .intro_date__info .intro_date_title {
  width: 100%;
  display: inline-block;
  margin-bottom: 16px;
  color: rgba(16, 16, 16, 0.6);
}
.intro_visual_zone .intro_data_wrap .intro_date__info .intro_date_desc {
  font: bold 22px/1.2 "Public Sans";
  letter-spacing: 0.5px;
}
.intro_visual_zone .intro_profile_wrap {
  display: flex;
  gap: 290px;
  padding: 65px 76px 0;
  border-top: 1px solid #1d1d1d;
}
.intro_visual_zone .intro_profile_wrap .intro_profile {
  display: flex;
  gap: 40px;
}
.intro_visual_zone .intro_profile_wrap .intro_profile img {
  overflow: hidden;
  width: 96px;
  height: 96px;
  object-fit: cover;
  border-radius: 100%;
}
.intro_visual_zone .intro_profile_wrap .intro_profile .intro_profile__info {
  letter-spacing: 0.5px;
}
.intro_visual_zone .intro_profile_wrap .intro_profile .intro_profile__info--name {
  font: bold 20px/1 "arial";
}
.intro_visual_zone .intro_profile_wrap .intro_profile .intro_profile__info--duty {
  margin-top: 24px;
  color: rgba(16, 16, 16, 0.6);
}
.intro_visual_zone .intro_profile_wrap .intro_profile__desc {
  flex: 1;
  position: relative;
  font-size: 22px;
  line-height: 32px;
  color: #3a3a3a;
}
.intro_visual_zone .intro_profile_wrap .intro_profile__desc span {
  display: inline-block;
  width: 100%;
  font-size: 22px;
  line-height: 32px;
  text-align: right;
}

.work_category_wrap {
  margin-top: 128px;
  padding: 0 10%;
}
.work_category_wrap .category_contents {
  position: relative;
}
.work_category_wrap .category_contents__bg {
  overflow: hidden;
  height: 650px;
}
.work_category_wrap .category_contents__bg li {
  display: none;
  width: 100%;
  height: 100%;
}
.work_category_wrap .category_contents__bg li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.work_category_wrap .category_contents__bg li.on {
  display: block;
}
.work_category_wrap .category_contents__box {
  overflow: hidden;
  position: absolute;
  bottom: -55px;
  right: 75px;
  width: 335px;
  height: 447px;
  padding: 38px 40px 55px;
  border: 1px solid #1d1d1d;
  background: #f1e9e5;
}
.work_category_wrap .category_contents__box li {
  display: none;
  width: 100%;
  height: 100%;
}
.work_category_wrap .category_contents__box li.on {
  display: block;
}
.work_category_wrap .category_contents__box li img {
  display: inline-block;
  width: 256px;
  height: 164px;
  object-fit: cover;
}
.work_category_wrap .category_contents__box li .category_title {
  margin-top: 44px;
  font: 700 20px/1 "Montserrat";
  letter-spacing: 0.3px;
}
.work_category_wrap .category_contents__box li .category_desc {
  margin-top: 25px;
  color: rgba(16, 16, 16, 0.6);
  font: 500 15px/1.4 "Montserrat";
  letter-spacing: -0.4px;
}
.work_category_wrap .category_menu {
  margin-top: 24px;
  padding-left: 76px;
}
.work_category_wrap .category_menu::after {
  display: block;
  clear: both;
  content: "";
}
.work_category_wrap .category_menu li {
  float: left;
}
.work_category_wrap .category_menu li:not(:first-child) {
  margin-left: 15px;
}
.work_category_wrap .category_menu li button {
  border: 1px solid #1d1d1d;
  height: 33px;
  padding: 0 20px 0 16px;
  border-radius: 33px;
  background: transparent;
  font-weight: 500;
  line-height: 33px;
  text-align: center;
  transition: 0.2s;
}
.work_category_wrap .category_menu li button:hover {
  background: #1d1d1d;
  color: #fff;
}
.work_category_wrap .category_menu li.on button {
  background: #1d1d1d;
  color: #fff;
}

.event_wrap {
  margin-top: 128px;
  padding: 0 10%;
}
.event_wrap .inner {
  padding-top: 75px;
  border-top: 1px solid #1d1d1d;
}
.event_wrap .event_title {
  display: flex;
  justify-content: space-between;
}
.event_wrap .event_title__main {
  flex: 2 1 70%;
}
.event_wrap .event_title__main * {
  display: inline-block;
  font: 80px/1.2 "Public Sans";
}
.event_wrap .event_title__main .thick {
  font-weight: 900;
}
.event_wrap .event_title__main span:nth-of-type(2) {
  margin-left: 178px;
}
.event_wrap .event_title__main span:nth-of-type(3) {
  margin-left: 20px;
}
.event_wrap .event_title__sub {
  flex: 1 1 30%;
  padding-right: 60px;
  font-size: 22px;
  color: #393839;
  font: normal 22px/1.5 "Open sans";
}
.event_wrap .event_title__sub span {
  display: inline-block;
  width: 100%;
  margin-right: -10px;
  font-size: 22px;
  color: #393839;
  font: normal 22px/1.5 "Open sans";
  text-align: right;
}
.event_wrap .event_content {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
}
.event_wrap .event_content .event_item {
  height: auto;
}
.event_wrap .event_content .event_item .event_img {
  overflow: hidden;
  position: relative;
}
.event_wrap .event_content .event_item .event_img::before {
  position: absolute;
  top: -100%;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  background: rgba(44, 115, 101, 0.7);
  content: "";
  transition: 0.3s;
}
.event_wrap .event_content .event_item .event_img img {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.event_wrap .event_content .event_item .event_desc {
  margin-top: 56px;
  color: #393839;
  font: normal 22px/1.5 "Open sans";
}
.event_wrap .event_content .event_item .event_desc__num {
  margin-right: 36px;
  font: bold 20px/36px "Pt Mono", monospace;
}
.event_wrap .event_content .event_item__first {
  width: 343px;
}
.event_wrap .event_content .event_item__first .event_img {
  width: 100%;
  height: 200px;
}
.event_wrap .event_content .event_item__second {
  width: 349px;
}
.event_wrap .event_content .event_item__second .event_img {
  width: 100%;
  height: 390px;
}
.event_wrap .event_content .event_item__third {
  width: 411px;
}
.event_wrap .event_content .event_item__third .event_img {
  width: 100%;
  height: 172px;
}
.event_wrap .event_content .event_item__third .event_desc {
  padding-right: 18px;
  font: bold 22px/1.5 "Public Sans";
  letter-spacing: -0.3px;
}
.event_wrap .event_content .event_item:hover .event_img::before {
  top: 0;
}

.history_wrap {
  overflow: hidden;
  width: 100%;
  margin-top: 260px;
}
.history_wrap .inner {
  position: relative;
  padding: 0 10%;
}
.history_wrap .inner::before {
  position: absolute;
  top: 0;
  left: 15%;
  width: 70%;
  height: 1px;
  background: #1d1d1d;
  content: "";
}
.history_wrap .history_head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  left: 450px;
  width: 2100px;
  height: 275px;
}
.history_wrap .history_head li {
  flex: 1;
  width: 233.3333333333px;
  height: 100%;
}
.history_wrap .history_head li span {
  font-size: 200px;
  font-family: "Arial";
  line-height: 275px;
}
.history_wrap .history_head li.on span {
  font-weight: bold;
}
.history_wrap .history_content_wrap {
  padding-top: 62px;
}
.history_wrap .history_content_wrap .history_content {
  display: none;
}
.history_wrap .history_content_wrap .history_content.active {
  display: flex;
}
.history_wrap .history_content_wrap .history_content__left {
  width: 425px;
}
.history_wrap .history_content_wrap .history_content__left i {
  display: inline-block;
  width: 84px;
  height: 90px;
  background: url(../img/co_building-01.svg) no-repeat center;
  background-size: cover;
}
.history_wrap .history_content_wrap .history_content__left .history_title {
  margin-top: 24px;
  font: bold 22px/1.2 "Public Sans";
  letter-spacing: 0.5px;
}
.history_wrap .history_content_wrap .history_content__right {
  flex: 1;
  padding-left: 25px;
}
.history_wrap .history_content_wrap .history_content__right .history_desc {
  padding-right: 50px;
  color: #393839;
  font: normal 23px/1.5 "Open sans";
}
.history_wrap .history_content_wrap .history_content__right .history_btn_zone {
  margin-top: 45px;
}
.history_wrap .history_content_wrap .history_content__right .history_btn_zone::after {
  display: block;
  clear: both;
  content: "";
}
.history_wrap .history_content_wrap .history_content__right .history_btn_zone a {
  float: left;
  border: 1px solid #1d1d1d;
  height: 33px;
  margin-right: 16px;
  padding: 0 20px 0 16px;
  border-radius: 33px;
  background: transparent;
  font-weight: 500;
  line-height: 33px;
  text-align: center;
  transition: 0.2s;
}
.history_wrap .history_content_wrap .history_content__right .history_btn_zone a:hover {
  background: #1d1d1d;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
