@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&&display=swap');

#header {
	padding: 0 7%;
}
.header_wrap {
	width: 100%;
	height: 152px;
	padding-bottom: 30px;
	border-bottom: 1px solid $primary-color;

	display: flex;

	.logo {
		padding-top: 33px;

		a {
			font: bold 26px/1 'arial';
			letter-spacing: 1px;
		}
	}

	nav {
		flex: 1;
	}

	.gnb {
		padding-top: 33px;
		margin-left: 70px;
		display: inline-flex;
		flex-wrap: wrap;

		li {
			flex: 1 1 40%;
			gap: 90px;
			padding-bottom: 15px;

			a {
				font-weight: 500;
				font-size: 16px;
				line-height: 21px;
			}
		}
	}

	.nav-side {
		position: relative;
		display: flex;
		gap: 56px;
		padding: 33px 0 0 64px;

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			display: inline-block;
			width: 1px;
			height: calc(100% + 30px);
			background: $primary-color;
			content: '';
		}

		.nav_btn__pop:nth-of-type(2) {
			font-weight: bold;
			font-size: 20px;
			letter-spacing: 1px;
		}
	}
}

.inner {
}

.intro_visual_wrap {
	padding: 0 7%;

	.intro_profile {
		display: flex;
		gap: 290px;
		padding: 65px 76px 0;
		border-top: 1px solid $primary-color;

		.intro_profile__zone {
			display: flex;
			gap: 40px;

			img {
				overflow: hidden;
				width: 96px;
				height: 96px;
				object-fit: cover;
				border-radius: 100%;
			}
			.intro_profile__info {
				letter-spacing: 0.5px;
				&--name {
					font: bold 20px/1 'arial';
				}
				&--duty {
					margin-top: 24px;
					color: #646162;
				}
			}
		}

		.intro_profile__desc {
			flex: 1;
			position: relative;
			font-size: 22px;
			line-height: 32px;
			color: #3a3a3a;

			span {
				display: inline-block;
				width: 100%;
				text-align: right;
			}

			// &::before {
			// 	position: absolute;
			// 	top: 0;
			// 	left: 0;
			// 	display: inline-block;
			// 	width: 1px;
			// 	height: 100%;
			// 	background: $primary-color;
			// 	content: '';
			// }
		}
	}
}

.work_category_wrap {
	margin-top: 128px;
	padding: 0 7%;

	.category_contents {
		position: relative;

		&__bg {
			overflow: hidden;
			height: 650px;

			li {
				display: none;
				width: 100%;
				height: 100%;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}

				&.on {
					display: block;
				}
			}
		}

		&__box {
			overflow: hidden;
			position: absolute;
			bottom: -55px;
			right: 75px;

			width: 335px;
			height: 447px;
			padding: 38px 40px 55px;
			border: 1px solid $primary-color;
			background: #f1e9e5;

			li {
				display: none;
				width: 100%;
				height: 100%;

				&.on {
					display: block;
				}

				img {
					display: inline-block;
					width: 256px;
					height: 164px;
					object-fit: cover;
				}

				.category_title {
					margin-top: 44px;
					font: 700 20px/1 'Montserrat';
					letter-spacing: 0.3px;
				}
				.category_desc {
					margin-top: 25px;
					color: #646162;
					font: 500 15px/1.4 'Montserrat';
					letter-spacing: -0.4px;
				}
			}
		}
	}

	.category_menu {
		margin-top: 24px;
		padding-left: 76px;

		&::after {
			display: block;
			clear: both;
			content: '';
		}
		li {
			float: left;
			&:not(:first-child) {
				margin-left: 15px;
			}

			button {
				border: 1px solid $primary-color;
				height: 33px;
				padding: 0 20px 0 16px;
				border-radius: 33px;
				background: transparent;
				font-weight: 500;
				line-height: 33px;
				text-align: center;
				transition: 0.2s;

				&:hover {
					background: $primary-color;
					color: #fff;
				}
			}

			&.on {
				button {
					background: $primary-color;
					color: #fff;
				}
			}
		}
	}
}

.event_wrap {
	margin-top: 128px;
	padding: 0 7%;

	.inner {
		padding-top: 75px;
		border-top: 1px solid $primary-color;
	}

	.event_title {
		.thick {
			font-weight: bold;
		}
	}

	.event_content {
		display: flex;
		justify-content: space-between;

		.event_item {
			height: auto;
			> p {
				overflow: hidden;

				img {
					display: inline-block;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			&__first {
				width: 343px;
				.event_img {
					width: 100%;
					height: 200px;
				}
			}
			&__second {
				width: 349px;
				.event_img {
					width: 100%;
					height: 390px;
				}
			}
			&__third {
				width: 411px;
				.event_img {
					width: 100%;
					height: 172px;
				}
			}
		}
	}
}
