* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #101010;
	font-size: 16px;
	font-family: 'Arial', sans-serif;
	word-break: break-word;
}

ul,
ol,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

button {
	border: 0;
	background: transparent;
	cursor: pointer;
}

body {
	background: #ede8e6;
}
.text_hidden {
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
}
